/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  body{
    font-family: "AvenirNext-Bold";
    color: rgba(0, 0, 0, 0.5);
  }

  html{
    font-size: 100%;
  }
    /*HEADER Section*/
  .header{
    margin: 0 auto;
    width: 800px;
  }

  h1{
    text-align: center;
    font-size: 500%;
    letter-spacing: 1px;
    color: rgb(0,0,0);
    font-family: "AvenirNext-Bold";
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    border-bottom: 2px solid black;
    width: 833px;
  }

  .foray{
    color: lightgrey;
    font-size: 20px;
    border: 1px solid lightgrey;
    width: 120px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 100;
    letter-spacing: -2px;
    background-color: rgba(255,255,255,0.5);
    margin-top: -12px;
    margin-left: -45px;
    position: relative;
    text-align: center;
  }

  /*CONTENT Section*/
  a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    list-style-type: none;
  }

  .addressTable{
    margin-top: 50px;
  }

  .bottomSection{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 800px;
    margin-top: 200px;
  }

  .content{
    margin-top: 80px;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  #description1{
    border-top: 1px solid #dddddd;
    padding-bottom: 133px;
  }

  #description2{
    border-top: none;
    padding-bottom:58px;
  }

  #forayPic1{
    width:100px;
    padding-bottom:79px;
  }

  h3{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -14px;
  }

  h6{
   margin-top: -1px;
  }

  .icons{
    border: 1px solid #dddddd;
    width: 200px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: -190px;
    position: relative;
  }

  #item{
    width: 100px;
  }

  #itemDesc{
    float: left;
    width: 200px;
  }

  .itemsTable{
    margin-top: 100px;
  }

  #linkForay{
    text-decoration:none;
  }

  li{
    list-style-type: none
  }

  .onlyUnderline{
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
  }

  #orderConfirmation{
    line-height: .3px;
  }

  .orderTable{
    margin-top: 100px;
  }

  #orderTotal{
    float: right;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding-right: 42px;
    border-top: 1px solid #dddddd;
  }

  .orderConfirmation{
    border-top: none;
  }

  .orderNumber{
    color: dodgerblue;
    text-decoration: underline;
  }

  .payment{
    padding-bottom: 58px;
  }

  #please{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    position: relative;
  }

  #price{
    float: right;
    width: 242px;
    text-align: right;
    color:black;
    font-weight: bold;
  }

  #price2{
    font-weight:bold;
    border-top: none;
    float: right;
    width: 90px;
    text-align: right;
    color:black;
  }

  .subtotal{
    float: right;
    display: block;
    list-style-type: none;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 800px;
    position: relative;
    margin: 0 auto;
  }

  text.text1{
    float:left;
  }

  td{
    text-align: left;
    border-top: 1px solid #dddddd;
    padding: 5px;
  }

  #tdForayPic1{
    border-top: 1px solid #dddddd;
  }

  #tdForayPic2{
    border-top: none;
  }

  .thankYou{
    position: relative;
    margin-top: 280px;
  }

  th {
    text-align: left;
    padding: auto;
    padding-bottom: 8px;
    width: 200px;
    background-color: rgba(220,220,220,0.1);
  }

  .totalInfo{
    margin: 0 auto;
    width: 800px;
  }

  #quantity{
    width: 20px;
  }

  #quantity1{
    border-top: 1px solid #dddddd;
    padding-bottom: 165px;
    font-weight: bold; color:black;
  }

  #quantity2{
    border-top: none;
    font-weight: bold;
    color: black; padding-bottom:92px;
  }

  .webLink{
    border-bottom: 1px solid #dddddd;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    color: #dddddd;
  }

  /*Footer Section*/
  .footer{
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: right;
    width: 90%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
