/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  body{
    font-family: "AvenirNext-Bold";
    color: rgba(0, 0, 0, 0.5);
  }
  html{
    font-size: 100%;
  }
/*HEADER SECTION*/
  .header{
    margin: 0 auto;
    width: 366px;
  }

  h1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    color: rgb(0,0,0);
    font-family: "AvenirNext-Bold";
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    width: 346px;
    border-bottom: 2px solid black;
  }

  .foray{
    color: lightgrey;
    font-size: 15px;
    border: 1px solid lightgrey;
    width: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 100;
    letter-spacing: -2px;
    background-color: rgba(255,255,255,0.5);
    margin-top: -7px;
    margin-left: 3px;
    position: relative;
    text-align: center;
  }

/*CONTENT SECTION*/
  a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    list-style-type: none;
  }
  .addressTable{
    margin-top: 50px;
  }

  .bottomSection{
    display: block;
    position: relative;
    width: 312px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .container{
    height:100px;
  }

  .content{
    margin-top: 80px;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  #description1{
    border-top: 1px solid #dddddd;
    padding-bottom: 133px;
  }

  #description2{
    border-top: none;
    padding-bottom:58px;
  }

  #forayPic1{
    width:100px;
    padding-bottom:79px;
  }

  h3{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -14px;
  }

  h6{
    margin-top: -1px;
  }

  .icons{
    border: 1px solid #dddddd;
    width: 200px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    position: relative;
    margin-top: -10px;
  }

  .itemsTable{
    margin-top: 100px;
  }

  #item{
    width: 500px;
  }

  #itemDesc{
    float: left;
    width: 100px;
  }

  li{
    list-style-type: none;
  }

  #linkForay{
    text-decoration:none;
  }

  .onlyUnderline{
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
  }

  .orderConfirmation{
    border-top: none;
  }

  #orderConfirmation{
    line-height: .3px;
  }

  .orderNumber{
    color: dodgerblue;
    text-decoration: underline;
  }

  .orderTable{
    margin-top: 100px;
  }

  #orderTotal{
    float: right;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding-right: 7px;
    border-top: 1px solid #dddddd;
  }

  .payment{
    padding-bottom: 58px;
  }

  #please{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    position: relative;
  }

  #price{
    float: right;
    width: 90px;
    text-align: right;
    color:black;
    font-weight:bold;
    color:black;
    font-weight: bold;
  }

  #price2{
    font-weight:bold;
    border-top: none;
    float: right;
    width: 90px;
    text-align: right;
    color:black;
  }

  #quantity1{
    border-top: 1px solid #dddddd;
    padding-bottom: 217px;
    font-weight: bold; color:black;
  }

  #quantity2{
    border-top: none;
    font-weight: bold;
    color: black;
    padding-bottom:128px;
  }

  .subtotal{
    float: right;
    display: block;
    list-style-type: none;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 312px;
    position: relative;
    margin: 0 auto;
  }

  td{
    text-align: left;
    border-top: 1px solid #dddddd;
    padding: 5px;
  }

  #tdForayPic1{
    border-top: 1px solid #dddddd;
    padding-bottom: 56px;
  }

  #tdForayPic2{
    border-top: none;
    padding-bottom: 44px;
  }

  text.text1 {
    text-align: center;
  }

  .thankYou{
    position: relative;
    margin-top: 100px;
  }

  th{
    text-align: left;
    padding: auto;
    padding-bottom: 8px;
    width: 100px;
  }

  .totalInfo{
    margin: 0 auto;
    width: 383px;
  }

  .webLink{
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    color: #dddddd;
    background-color: rgba(220,220,220,0.1);
  }

  /*FOOTER SECTION*/

  .footer{
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 400px;
    padding-right: 5px;
    padding-left: 5px;
  }
}




/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  body{
    font-family: "AvenirNext-Bold";
      color: rgba(0, 0, 0, 0.5);
  }
  html{
    font-size: 100%;
  }
  /*HEADER SECTION*/
  .foray{
    color: lightgrey;
    font-size: 15px;
    border: 1px solid lightgrey;
    width: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 100;
    letter-spacing: -2px;
    background-color: rgba(255,255,255,0.5);
    margin-top: -7px;
    margin-left: 3px;
    position: relative;
    text-align: center;

  }

  .header{
    margin: 0 auto;
    width: 366px;

  }
  h1{
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(0,0,0);
  font-family: "AvenirNext-Bold";
  font-weight: bold;
  position: relative;
  margin: 0 auto;
  border-bottom: 2px solid black;
  width: 346px;

  }

  /*CONTENT SECTION*/
  a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    list-style-type: none;
  }

  .addressTable{
    margin-top: 50px;
  }

  .bottomSection{
      display: block;
      position: relative;
      margin: 0 auto;
      margin-top: 10px;
      width: 312px;
  }

  .container{
    height:100px;
  }

  .content{
    margin-top: 80px;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  #description1{
    border-top: 1px solid #dddddd;
    padding-bottom: 133px;
  }

  #description2{
    border-top: none;
    padding-bottom:58px;
  }

  #forayPic1{
    width:100px;
    padding-bottom:79px;
  }

  h3{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -14px;
  }

  h6{
    margin-top: -1px;
  }

  .icons{
    border: 1px solid #dddddd;
    width: 200px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    position: relative;
    margin-top: -10px;
  }

  #item{
    width: 500px;
  }

  #itemDesc{
   float: left;
   width: 100px;
  }

  .itemsTable{
    margin-top: 100px;
  }

  li{
   list-style-type: none
  }

  #linkForay{
    text-decoration:none;
  }

  .orderConfirmation{
    border-top: none;
  }

  #orderConfirmation{
    line-height: .3px;
  }

  .orderNumber{
    color: dodgerblue;
    text-decoration: underline;
  }

  .orderTable{
    margin-top: 100px;
  }

  #orderTotal{
    float: right;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding-right: 7px;
    border-top: 1px solid #dddddd;
  }

  .onlyUnderline{
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
  }

  .payment{
    padding-bottom: 58px;
  }

  #please{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    position: relative;
  }

  #price{
    float: right;
    width: 90px;
    text-align: right;
    color:black;
    font-weight:bold;
  }

  #price2{
    font-weight:bold;
    border-top: none;
    float: right;
    width: 90px;
    text-align: right;
    color:black;
  }

  #quantity1{
    border-top: 1px solid #dddddd;
    padding-bottom: 217px;
    font-weight: bold; color:black;
  }

  #quantity2{
    border-top: none;
    font-weight: bold;
    color: black;
    padding-bottom:128px;
  }

  .subtotal{
    float: right;
    display: block;
    list-style-type: none;
  }
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 312px;
      position: relative;
      margin: 0 auto;
  }

  #tdForayPic1{
    border-top: 1px solid #dddddd;
    padding-bottom: 56px;
  }

  #tdForayPic2{
    border-top: none;
    padding-bottom: 44px;
  }

  .thankYou{
    position: relative;
    margin-top: 180px;
  }

  td{
    text-align: left;
    border-top: 1px solid #dddddd;
    padding: 5px;
  }

  th{
    text-align: left;
    padding: auto;
    padding-bottom: 8px;
    width: 100px;
  }

  text1{
    text-align: center;
  }

  .totalInfo{
    margin: 0 auto;
    width: 383px;
  }

  .thankYou{
    margin-top: 100px;
  }

  .webLink{
    background-color: rgba(220,220,220,0.1);
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    color: #dddddd;
  }

  /*FOOTER SECTION*/
  .footer{
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 400px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
